@page
@model AmusementParkDB.Pages.Promotions.DetailsModel

<div>
    <h4>Promotion</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">Promotion Name</dt>
        <dd class="col-sm-10">@(Model.Promotion.Name ?? "-")</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@(Model.Promotion.Description ?? "-")</dd>

        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">@(Model.Promotion.StartDate.ToString("yyyy-MM-dd HH:mm") ?? "-")</dd>

        <dt class="col-sm-2">End Date</dt>
        <dd class="col-sm-10">@(Model.Promotion.EndDate.ToString("yyyy-MM-dd HH:mm") ?? "-")</dd>

        <dt class="col-sm-2">Discount Percentage (%)</dt>
        <dd class="col-sm-10">@(Model.Promotion.DiscountPercentage?.ToString("0.00") + " %" ?? "-")</dd>

        <dt class="col-sm-2">Discount Amount</dt>
        <dd class="col-sm-10">@(Model.Promotion.DiscountAmount?.ToString("C") ?? "-")</dd>

        <dt class="col-sm-2">Applicable Attractions</dt>
        <dd class="col-sm-10">@(Model.Promotion.ApplicableAttractions ?? "-")</dd>

        <dt class="col-sm-2">Applicable Events</dt>
        <dd class="col-sm-10">@(Model.Promotion.ApplicableEvents ?? "-")</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@(Model.Promotion.Status ?? "-")</dd>

        <dt class="col-sm-2">Attraction ID</dt>
        <dd class="col-sm-10">@(Model.Promotion.IdAttractionsNavigation?.Id.ToString() ?? "-")</dd>

        <dt class="col-sm-2">Event ID</dt>
        <dd class="col-sm-10">@(Model.Promotion.IdEventsNavigation?.Id.ToString() ?? "-")</dd>

        <dt class="col-sm-2">Product ID</dt>
        <dd class="col-sm-10">@(Model.Promotion.IdProductsNavigation?.Id.ToString() ?? "-")</dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Promotion.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
